---
import Layout from "../../layouts/Layout.astro";

import HeaderSmall from "../../components/HeaderSmall.astro";
const title = "Anaren.com";
const subtitle = "Drupal website overhaul";
import ProjectVideoAnaren from "../../components/ProjectVideoAnaren.astro";
---

<Layout title="Project 1">
  <div class="video-wrapper">
  <ProjectVideoAnaren />
</div> 
  <HeaderSmall title={title} subtitle={subtitle} />
  <main>
    <div class="mb-12">
      
    </div>
  </main>
</Layout>

<style>


</style>
