---
import Layout from "../../layouts/Layout.astro";

import HeaderSmall from "../../components/HeaderSmall.astro";

import DeviceMockups from "../../components/DeviceMockups.astro";
const title = "Project 3";
const subtitle = "Project 3 info";
---

<Layout title="Project 3">
  <div>
    <HeaderSmall title={title} subtitle={subtitle} />
  </div>
  <main>
    <div class="mb-12">
      <div class="">
        <DeviceMockups
          lightImage="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/mockup-1-light.png"
          darkImage="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/mockup-1-dark.png"
        />
      </div>
      <p class="dark:text-white">Some info here...</p>
    </div>
  </main>
</Layout>

<style></style>
