---
import Layout from '../layouts/Layout.astro';

import Header from '../components/Header.astro';
import Body1 from '../components/Body1.astro';

const title = 'About';
const subtitle = 'Something Here';
---

<Layout title="About">
	<main>
		<Header title={title} subtitle={subtitle}/>
		<Body1/>
	</main>
</Layout>

<style>
	
</style>