---
const title = "Components";
const subtitle =
  "Component overview. Some properties for this are inline (like heading, button, etc) while others have properties in the component file (table, modal, etc).";

import Layout from "../layouts/Layout.astro";

//Added 9/25/2023, HeaderSmall is the small hero banner header, while Heading renders an h2 tag
import HeaderSmall from "../components/HeaderSmall.astro";
import Heading from "../components/Heading.astro";

//Added 9/25/2023
import Alert from "../components/Alert.astro";
import Avatar from "../components/Avatar.astro";
import Badge from "../components/Badge.astro";
import Breadcrumbs from "../components/BreadCrumbs.astro";
import Button from "../components/Button.astro";
import ButtonGroup from "../components/ButtonGroup.astro";
import Card from "../components/Card.astro";
import DeviceMockups from "../components/DeviceMockups.astro";
import Form from "../components/Form.astro";
import Gallery from "../components/Gallery.astro";
import Jumbotron from "../components/Jumbotron.astro";
import Table from "../components/Table.astro";
import Timeline from "../components/Timeline.astro";

//Added 10/8/23
import VisualImageHeading from "../components/VisualImageHeading.astro";
import Team from "../components/Team.astro";
import Pricing from "../components/Pricing.astro";
import FAQ from "../components/FAQ.astro";
import CustomerLogos from "../components/CustomerLogos.astro";

//Added 10/30/23
import Blockquote from "../components/Blockquote.astro";
import Tooltip from "../components/Tooltip.astro";
import Tabs from "../components/Tabs.astro";
import Rating from "../components/Rating.astro";
import Modal from "../components/Modal.astro";
import IndicatorCount from "../components/IndicatorCount.astro";
---

<Layout title="Components">
  <div>
    <HeaderSmall title={title} subtitle={subtitle} />
  </div>
  <main>
    <div class="container pb-24">
      <Heading heading="Alert" />
      <Alert body="Hey I'm an alert!" />

      <Heading heading="Avatar" />
      <Avatar />

      <Heading heading="Badge" />
      <Badge title="Badge Title" />

      <Heading heading="Breadcrumbs" />
      <Breadcrumbs title="Here" parent="Something" parentLink="/contact" />

      <Heading heading="Buttons" />
      <Button text="Click Me" href="https://github.com" />

      <Heading heading="Button Group" />
      <ButtonGroup
        text1="Google"
        href1="https://google.com"
        text2="Yahoo"
        href2="https://yahoo.com"
      />

      <Heading heading="Card" />
      <Card title="Card Title Here" body="Some Card Text" />

      <Heading heading="Device Mockups" />
      <DeviceMockups
        lightImage="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/mockup-1-light.png"
        darkImage="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/mockup-1-dark.png"
      />

      <Heading heading="Form" />
      <Form />

      <Heading heading="Gallery" />
      <Gallery />

      <Heading heading="Jumbotron" />
      <Jumbotron />

      <Heading heading="Table" />
      <Table />

      <Heading heading="Timeline" />
      <Timeline />

      <Heading heading="Visual Image Heading" />
      <VisualImageHeading />

      <Heading heading="Teams" />
      <Team />

      <Heading heading="Pricing" />
      <Pricing />

      <Heading heading="FAQs" />
      <FAQ />

      <Heading heading="Customer Logos" />
      <CustomerLogos />

      <Heading heading="Block Quote" />
      <Blockquote text="Hey here is some quote from somewhere" />

      <Heading heading="Tooltip" />
      <Tooltip button="Button Text Here" tooltip="Some tooltip text" />

      <Heading heading="Tabs" />
      <Tabs />

      <Heading heading="Rating" />
      <Rating rating={4} />

      <Heading heading="Modal" />
      <Modal />

      <Heading heading="Indicator Count" />
      <IndicatorCount button="Messages" count={69} href="https://google.com" />
    </div>
  </main>
</Layout>
