---
import Layout from "../layouts/Layout.astro";

import HeaderSmall from "../components/HeaderSmall.astro";

const title = "Contact";
const subtitle = "Contact me";
---

<Layout title="Contact">
  <main>
    <HeaderSmall title={title} subtitle={subtitle} />
  </main>
</Layout>

<style></style>
