---
import Layout from "../layouts/Layout.astro";

import Header from "../components/Header.astro";
import CTA from "../components/CTA.astro";
import FeatureList from "../components/FeatureList.astro";
import Gallery from "../components/Gallery.astro";
import Pricing from "../components/Pricing.astro";
import data from "../data/site.json";
---

<Layout title={data.siteName}>
  <main>
    <Header />
    <CTA />
    <FeatureList />
    <Gallery />
    <Pricing />
  </main>
</Layout>
