---
import Layout from "../layouts/Layout.astro";

import Header from "../components/Header.astro";
import Heading from "../components/Heading.astro";
import data from "../data/site.json";
import CTA from "../components/CTA.astro";
import FeatureList from "../components/FeatureList.astro";
import FeaturedVideo from "../components/FeaturedVideo.astro";
import Timeline from "../components/Timeline.astro";
import Social from "../components/Social.astro";
---

<Layout title={data.siteName}>
  <main>
    <div class="container">
      <Header />
      <CTA />
      <FeatureList />
      <FeaturedVideo />
      <Timeline />
    </div>
  </main>
</Layout>
