---
import Layout from '../layouts/Layout.astro';

import Header from '../components/Header.astro';
import data from "../data/site.json";

const title = data.siteName;
---

<Layout title={data.siteName}>
	<main>
		<Header title={title} subtitle={data.about}/>
	</main>
</Layout>


