---
const title = data.siteName;

import Layout from "../layouts/Layout.astro";

import Header from "../components/Header.astro";
import data from "../data/site.json";
import Timeline from "../components/Timeline.astro";
---

<Layout title={data.siteName}>
  <main>
    <Header title={title} subtitle={data.about} />
    <div class="container">
      <Timeline />
    </div>
  </main>
</Layout>
