---
import Layout from "../layouts/Layout.astro";

import Header from "../components/Header.astro";
import Heading from "../components/Heading.astro";
import CTA from "../components/CTA.astro";
import Poster from "../components/Poster.astro";
import FeatureList from "../components/FeatureList.astro";
import VideoAlt from "../components/VideoAlt.astro";
import Timeline from "../components/Timeline.astro";
import Contact from "../components/Contact.astro";
import data from "../data/site.json";
---

<Layout title={data.siteName}>
  <main>
    <div class="container">
      <CTA />
    </div>
    <div class="container">
      <Poster />
    </div>
    <div class="youtube-wrapper">
      <div class="container youtube-section-content">
        <div class="max-w-2xl m-auto text-center">
          <h2
            class="mb-4 text-3xl tracking-tight font-extrabold text-white"
          >
            Content Creation
          </h2>
          <p class="mb-8 mt-2 text-lg text-gray-400">
            I make YouTube videos on web development including projects I'm
            working on and web technologies that interest me.
          </p>
          <VideoAlt
            youtube="https://www.youtube.com/embed/BMHTGri2u7k?si=lkvrerELoYYHg8Wg"
          />
          
        </div>
      </div>
    </div>

    <FeatureList />
    <div class="container">
      <Timeline />
    </div>
  </main>
</Layout>

<style>
  .container {
    max-width: 1024px;
    margin: 0 auto;
  }
  .youtube-wrapper{
    background-image: url('/bgthumbs.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: top center;
    padding: 60px 0;
  }
</style>
