---
import Layout from "../layouts/Layout.astro";

import Button from "../components/Button.astro";
import CTA from "../components/CTA.astro";
import Projects from "../components/Projects.astro";
import FeatureList from "../components/FeatureList.astro";
import CustomGithubSection from "../components/CustomGithubSection.astro";
import Timeline from "../components/Timeline.astro";
import Contact from "../components/Contact.astro";
import data from "../data/site.json";
---

<Layout title={data.siteName}>
  <main>
    <section id="home">
      <div class="container">
       
        <div class="mt-8" >
          <div class="text-center justify-self-center items-center p-2">
            <h1 
              class="max-w-full mb-4 text-4xl font-extrabold tracking-tight leading-none  sm:text-3xl md:text-6xl xl:text-7xl xs:text-2xl dark:text-white" transition:name="hero"  
            >
            Steven Leabo
            </h1>
            <p class="m-auto max-w-3xl mt-6 text-2xl leading-8 text-gray-600 dark:text-white">
              I'm a frontend web developer doing freelance work and recording <a target="_blank" href="https://www.youtube.com/@shadowstack/videos" class="underline hover:underline-offset-4">YouTube content</a> in my spare time.
            </p>
          </div>
        </div>
        <div class="text-center mt-8 ctabuttons">
          <Button href="#projects" text="See My Work" />

          <Button href="#contact" text="Contact Me" />
        </div>
        <CTA />
      </div>
    </section>

    
    <Projects />
    <CustomGithubSection />
    
    <FeatureList />
    <Timeline />
    <Contact />
  </main>
</Layout>

<style>
  .ctabuttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
  #home{
    background-image: url("/youtubethumbs.png");
        background-size: cover;
        background-repeat: no-repeat;
        min-height:750px;
  }
  #home:before{
    background-image: url("/youtubethumbs.png");
        background-size: cover;
        background-repeat: no-repeat;
        min-height:750px;
        opacity:.6;
  }
</style>

