---
import Layout from '../layouts/Layout.astro';

import Header from '../components/Header.astro';
import Body1 from '../components/Body1.astro';

const title = 'Astro';
const subtitle = 'A fresh approach to building websites';
---

<Layout title="Page title here">
	<main>
		<Header title={title} subtitle={subtitle}/>
		<Body1/>
	</main>
</Layout>

<style>
	
</style>
