---
const title = "Projects";
const subtitle = "Some Projects";

import ProjectVideoAnaren from "../components/ProjectVideoAnaren.astro";
import ProjectVideoZenmode from "../components/ProjectVideoZenmode.astro";
const AnarenComponent = ProjectVideoAnaren;
const ZenmodeComponent = ProjectVideoZenmode;

import Layout from "../layouts/Layout.astro";

import HeaderSmall from "../components/HeaderSmall.astro";
import ProjectCard from "../components/ProjectCards.astro";
import ProjectCards from "../components/ProjectCards.astro";



---

<Layout title="Projects">
  <main>
    <HeaderSmall title={title} subtitle={subtitle} />
    <div class="">
      <section class="section">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16">
          <ProjectCards />
        </div>
      </section>
    </div>
  </main>
</Layout>

<style></style>
