---
import Layout from '../layouts/Layout.astro';

import Header from '../components/Header.astro';
import Body1 from '../components/Body1.astro';

const title = 'Projects';
const subtitle = 'Some Projects';
---

<Layout title="Projects">
	<main>
		<Header title={title} subtitle={subtitle}/>
		<Body1/>
	</main>
</Layout>

<style>
	
</style>