---
interface Props {
  body: string;
}

const { body } = Astro.props;
---

<div
  class="p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-slate-900 dark:text-blue-400"
  role="alert"
>
  <span class="font-medium">{body}</span>
</div>
