<div class="relative">
  <img class="w-10 h-10 rounded-full" src="./favicon.svg" alt="" />
  <span
    class="top-0 left-7 absolute w-3.5 h-3.5 bg-green-400 border-2 border-white dark:border-gray-800 rounded-full"
  ></span>
</div>
