---
interface Props {
  text: string
  href: string;
}

const { text, href } = Astro.props;
---

<a href={href} class="relative inline-flex cursor-pointer items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">{text}</a>