---
interface Props {
  text: string
  href: string;
}

const { text, href } = Astro.props;
---

<a href={href} class="text-sm font-semibold cursor:pointer leading-6 text-gray-900 dark:text-white">{text}</a>
