---
import Form from "./Form.astro";
---

<section>
  <div id="contact">
    <h2
      class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white"
    >
      Contact Me
    </h2>
    <Form />
  </div>
</section>
