---
import Form from "./Form.astro";
import Social from "./Social.astro";
---

<section>
  <div id="contact">
    <h2
      class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white"
    >
      Contact Me
    </h2>
    <div
      class="grid grid-cols-1 gap-8 row-gap-8 lg:grid-cols-2 dark:text-white"
    >
      <div class="max-w-full">
        <Social />
      </div>
      <div class="">
        <Form />
      </div>
    </div>
  </div>
</section>
