<!-- modify this form HTML and place wherever you want your form -->
<div class=" bg-white container">
  <form action="https://formspree.io/f/mrgwllbn" method="POST">
    <label>
      Your email:
      <input type="email" name="email" />
    </label>
    <label>
      Your message:
      <textarea name="message"></textarea>
    </label>
    <!-- your other form fields go here -->
    <button type="submit">Send</button>
  </form>
</div>

<div>
    <p>hey</p>
</div>
