---
// import the Image component and the image
const title = "Watch Me Build";
const body =
  "I'm a Web Developer with six years of professional experience, specializing in creating visually appealing websites and developing layouts and components based on intricate designs. I've worked with a variety of clients, from startups to larger corporations, and I'm well-versed in the latest web development technologies. If my expertise aligns with your business needs, don't hesitate to reach out. I'm based in Upstate New York.";

import ProjectVideoAnaren from "./ProjectVideoAnaren.astro";
---

<div class="mt-12 ">
  <div
    class="mx-auto max-w-3xl lg:px-6"
  >
    <ProjectVideoAnaren />
    
  </div>
</div>
<style>
  .info{
    box-shadow: inset 0 0 400px rgba(57, 118, 249, 0.7);
    border-radius:1rem;
    background: rgba(37, 99, 235,1);
  }
  .info:before {
    box-shadow: inset 0 0 400px rgba(37, 99, 235,.9);
    filter: blur(10px);
}
</style>