---
// import the Image component and the image
import { Image } from 'astro:assets';
import darkImage from "../assets/house.jpg"; 
import lightImage from "../assets/cta-dashboard-mockup.svg"; 
const title = "I'm a painter and I can work for you"
const body = "With over 6 years experience I have painted over 1000 houses. I can work for you and paint your house."
---
<section class="mb-12 bg-stone-100 dark:bg-slate-800">
    <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
        <Image src={darkImage} class="w-full dark:block" alt="A description of my image." />
        <div class="mt-4 md:mt-0">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">{title}</h2>
            <p class="mb-8 mt-2 text-lg text-gray-700 dark:text-gray-400">{body}</p>
        </div>
    </div>
</section>