---

---
<section id="home" class="sticky top-0 bg-black z-30 pt-0 mt-0">
  <div class="container py-4 my-0">
    <a href="/">
      <h1
        class="m-0 text-xl font-extrabold tracking-tight leading-none sm:text-xl md:text-3xl xl:text-4xl xs:text-xl dark:text-white"
      >
        Steven Leabo<small class="ml-2 text-slate-300"> Frontend Web Developer</small>
      </h1>
    </a>
  </div>
</section>
