---

interface Props {
  darkImage: string;
  lightImage: string;
}

const { darkImage, lightImage } = Astro.props;
---

<div
  class="my-4 border-gray-300 dark:border-gray-900 bg-gray-300 dark:bg-gray-800 border-[14px] rounded-[2.5rem] h-[600px] w-[300px]"
>
  <div
    class="h-[32px] w-[3px] bg-gray-300 dark:bg-gray-800 absolute -left-[17px] top-[72px] rounded-l-lg"
  >
  </div>
  <div
    class="h-[46px] w-[3px] bg-gray-300 dark:bg-gray-800 absolute -left-[17px] top-[124px] rounded-l-lg"
  >
  </div>
  <div
    class="h-[46px] w-[3px] bg-gray-300 dark:bg-gray-800 absolute -left-[17px] top-[178px] rounded-l-lg"
  >
  </div>
  <div
    class="h-[64px] w-[3px] bg-gray-300 dark:bg-gray-800 absolute -right-[17px] top-[142px] rounded-r-lg"
  >
  </div>
  <div
    class="rounded-[2rem] overflow-hidden w-[272px] h-[572px] bg-white dark:bg-gray-800"
  >
    <img
      src={lightImage}
      class="dark:hidden w-[272px] h-[572px]"
      alt=""
    />
    <img
      src={darkImage}
      class="hidden dark:block w-[272px] h-[572px]"
      alt=""
    />
  </div>
</div>
