---
import data from "../data/site.json";
---

<footer
  class="fixed bottom-0 left-0 z-20 w-full p-4 bg-white border-t border-gray-200 shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 dark:border-gray-600"
>
  <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
    >&copy; {new Date().getFullYear()}
    <!--Space between -->
    <span>&nbsp;</span>{data.owner}. All Rights Reserved.
  </span>
  <ul
    class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0"
  >
    <!--map all pages -->
    {
      data.pages.map((page) => {
        return (
          <li>
            <a href={page.href} class="mr-4 hover:underline md:mr-6">
              {page.title}
            </a>
          </li>
        );
      })
    }
  </ul>
</footer>
