---
import data from "../data/site.json";

---

<div class="left-0 z-20 w-full shadow-lg">
  <footer
    class="bg-white rounded-b-lg my-4 mt-0 dark:bg-gray-900 w-full mx-auto max-w-screen-xl"
  >
    <div
      class="p-4 md:flex md:items-center md:justify-between text-center sm:text-left"
    >
      <span class="text-sm text-gray-700 sm:text-center dark:text-gray-400 sm:text-left text-right"
        ><span class="mr-2">&copy; {new Date().getFullYear()}</span>
        <a href="/" class="hover:underline">{data.siteName}</a>.
      </span>
      
    </div>
  </footer>
</div>
