---
import { Image } from "astro:assets";
import image1 from "../assets/cta-dashboard-mockup.svg";
---

<div class="grid gap-4">
  <div>
    <Image width="1536" height="834" src="https://flowbite.s3.amazonaws.com/docs/gallery/featured/image.jpg" alt="..." class="h-auto max-w-full rounded-lg" />
  </div>
  <div class="grid grid-cols-4 gap-4">
    <div>
      <Image src={image1} alt="..." class="h-auto max-w-full rounded-lg" />
    </div>
    <div>
      <Image src={image1} alt="..." class="h-auto max-w-full rounded-lg" />
    </div>
    <div>
      <Image src={image1} alt="..." class="h-auto max-w-full rounded-lg" />
    </div>
    <div>
      <Image src={image1} alt="..." class="h-auto max-w-full rounded-lg" />
    </div>
  </div>
</div>
