---
interface Props {
  title: string;
  subtitle: string;
}

const { title, subtitle } = Astro.props;

import Nav from "./Nav.astro";
import data from "../data/site.json";
---

<div class="bg-white dark:bg-slate-800">
  <header class="absolute inset-x-0 top-0 z-50">
    <Nav />
    <!-- Mobile menu, show/hide based on menu open state. -->
    <div class="lg:hidden" role="dialog" aria-modal="true">
      <!-- Background backdrop, show/hide based on slide-over state. -->
      <div class="fixed inset-0 z-50"></div>
      <div
        class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10 dark:bg-slate-800"
      >
        <div class="flex items-center justify-between">
          <a href="/" class="-m-1.5 p-1.5">
            <span class="sr-only">Your Company</span>
            <img
              class="h-8 w-auto"
              src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
              alt=""
            />
          </a>
          <button
            type="button"
            id="toggleMenu"
            class="-m-2.5 rounded-md p-2.5 text-gray-700"
          >
            <span class="sr-only">Close menu</span>
            <svg
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12"></path>
            </svg>
          </button>
        </div>
        <div class="mt-6 flow-root">
          <div class="-my-6 divide-y divide-gray-500/10">
            <div class="space-y-2 py-6 navbar">
              <!--map all pages -->
              {
                data.pages.map((page) => {
                  return (
                    <a
                      href={page.href}
                      class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50 dark:text-white dark:hover:bg-slate-900"
                    >
                      {page.title}
                    </a>
                  );
                })
              }
            </div>
            <div class="py-6"></div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="relative isolate px-6 pt-14 lg:px-8">
    <div
      class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
      aria-hidden="true"
    >
      <div
        class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
      >
      </div>
    </div>
    <div class="mx-auto max-w-2xl">
      <div class="hidden mt-6 sm:mb-8 sm:flex sm:justify-center"></div>
      <div class="text-center">
        <h1
          class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl dark:text-white"
        >
          {title}
        </h1>
        <p class="mt-6 text-lg leading-8 text-gray-600 dark:text-white">
          {subtitle}
        </p>
        <div class="mt-10 flex items-center justify-center gap-x-6"></div>
      </div>
    </div>
    <div
      class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
      aria-hidden="true"
    >
      <div
        class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
      >
      </div>
    </div>
  </div>
</div>


<script is:inline>
//Stare with the sidebar hidden
document.querySelector("[role='dialog']").classList.add("hidden");

//Close sidebar when user clicks the X #toggleMenu button
document.getElementById("toggleMenu").addEventListener("click", function () {
  document.querySelector("body").classList.remove("overflow-hidden");
  document.querySelector("[role='dialog']").classList.add("hidden");
});

//Open sidebar when user clicks the #openMenu button
document.getElementById("openMenu").addEventListener("click", function () {
  document.querySelector("body").classList.add("overflow-hidden");
  document.querySelector("[role='dialog']").classList.remove("hidden");
});
</script>
