---
interface Props {
  title: string;
  subtitle: string;
}

const { title, subtitle } = Astro.props;

import data from "../data/site.json";
---

<div class="mt-16">
  <div class="text-center justify-self-center items-center p-2">
    <h1
      class="text-4xl font-bold tracking-tight text-gray-900 dark:text-white sm:text-6xl"
    >
      {title}
    </h1>
    <p class="mt-6 text-lg leading-8 text-gray-600 dark:text-white">
      {subtitle}
    </p>
  </div>
</div>
