---
interface Props {
  heading: string;
}

const { heading } = Astro.props;
---

<div class="mb-8 lg:mb-16">
  <h2
    class="mb-4 text-3xl tracking-tight font-extrabold text-gray-900 dark:text-white"
  >
    {heading}
  </h2>
</div>
