---
interface Props {
  title: string;
  subtitle: string;
}

const { title, subtitle } = Astro.props;

---

<div class="mt-16" >
  <div class="text-center justify-self-center items-center p-2">
    <h1 
      class="max-w-full mb-4 text-4xl font-extrabold tracking-tight leading-none  sm:text-3xl md:text-6xl xl:text-7xl xs:text-2xl dark:text-white" transition:name="hero"  
    >
      {title}
    </h1>
    <p class="m-auto max-w-3xl mt-6 text-2xl leading-8 text-gray-600 dark:text-white">
      {subtitle}
    </p>
  </div>
</div>
