---
interface Props {
  button: string;
  count: number;
  href: string;
}

const { button, count, href } = Astro.props;
---

<a
  href={href}
  class="relative inline-flex cursor-pointer items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  ><svg
    class="w-4 h-4 mr-2"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    ill="currentColor"
    viewBox="0 0 20 16"
  >
    <path
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M5 4 1 8l4 4m10-8 4 4-4 4M11 1 9 15"></path>
  </svg>

  <span class="sr-only">Notifications</span>
  {button}

  {
    count > 0 && (
      <div class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-red-500 border-2 border-white rounded-full -top-2 -right-2 dark:border-gray-900">
        {count}
      </div>
    )
  }

  {
    count > 10 && (
      <div class="absolute inline-flex items-center justify-center w-8 h-6 text-xs font-bold text-white bg-red-500 border-2 border-white rounded-full -top-2 -right-2 dark:border-gray-900">
        {count}
      </div>
    )
  }

  {
    count > 99 && (
      <div class="absolute inline-flex items-center justify-center w-9 h-6 text-xs font-bold text-white bg-red-500 border-2 border-white rounded-full -top-2 -right-2 dark:border-gray-900">
        99+
      </div>
    )
  }
</a>
