---

---

<section id="projects">
    <div>
        <h2 class="text-white">Projects</h2>
    </div>
</section>

<style>
    #projects {
        background-image: url("/youtubethumbs.png");
        background-size: contain;
        background-repeat: no-repeat;
        min-height:900px;
    }

   
</style>