<div class="video-wrapper">
    <video
      src="/zenmode.mp4"
      class="rounded shadow-lg"
      width="100%"
      transition:name="zenmode"
      transition:persist
      autoplay
      loop
      muted
      playsinline
      class="w-full"></video>
  </div>
  <style></style>
  