---
import Button from "./Button.astro";

import ProjectVideoAnaren from "./ProjectVideoAnaren.astro";
import ProjectVideoZenmode from "./ProjectVideoZenmode.astro";

const projects = [
  {
    title: "Anaren",
    body: "A Drupal website for the space and defense company with pages for their different division and product lines. Also featuring extensive DataTables integration for their product catalog.",
    href: "/project/one",
    videoComponent: "ProjectVideoAnaren",
  },
  {
    title: "Zenmode",
    body: "Easily create video dashboards using youtube videos. This project allows you to set some layout options and it appends the query strings and layout to the URL so you can share it with others.",
    href: "/project/two",
    videoComponent: "ProjectVideoZenmode",
  },
];
---

<!-- 
Map over the projects array and render the components based on the videoComponent property. -->{
  projects.map((project) => {
    return (
      <div class="project grid grid- ">
        <div class="project__video">
          {project.videoComponent === "ProjectVideoAnaren" ? (
            <ProjectVideoAnaren />
          ) : project.videoComponent === "ProjectVideoZenmode" ? (
            <ProjectVideoZenmode />
          ) : null}
        </div>

        <div class="project__info">
          <h3 class="project__title">{project.title}</h3>
          <p class="project__body">{project.body}</p>
          <Button href={project.href} text="Learn More" />
          <div class="project__links"></div>
        </div>
      </div>
    );
  })
}
