---
const social = [
  {
    title: "GitHub",
    href: "https://github.com/leabs",
    icon: "icons/github.svg",
  },
  {
    title: "YoutTube",
    href: "https://www.youtube.com/@shadowstack",
  },
  {
    title: "LinkedIn",
    href: "https://www.linkedin.com/in/stevenleabo/",
    icon: "icons/linkedin.svg",
  },
  {
    title: "Twitter",
    href: "https://twitter.com/Shadow_Stack",
    icon: "icons/twitter.svg",
  },
  {
    title: "CodePen",
    href: "https://codepen.io/leabs",
    icon: "icons/codepen.svg",
  },
  {
    title: "Email",
    href: "mailto:stevenleabo@gmail.com",
  },
];
---

<div class=" text-center bg-white dark:bg-slate-800 rounded-t-lg">
  <ul
    class="max-w-full flex flex-wrap items-center justify-around text-gray-900 dark:text-white mb-8"
  >
    {
      social.map((item) => (
        <li class="">
          <a
            href={item.href}
            title={item.title}
            target="_blank"
            rel="noopener noreferrer"
            class="hover:text-gray-700 dark:hover:text-gray-300 flex"
          >
            {item.title}
            <svg
              class="w-[10px] h-[10px] text-gray-800 dark:text-white ml-2"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 18 18"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="3"
                d="M15 11v4.833A1.166 1.166 0 0 1 13.833 17H2.167A1.167 1.167 0 0 1 1 15.833V4.167A1.166 1.166 0 0 1 2.167 3h4.618m4.447-2H17v5.768M9.111 8.889l7.778-7.778"
              />
            </svg>
          </a>
        </li>
      ))
    }
  </ul>
</div>
