---
import data from "../data/site.json";
import Heading from "../components/Heading.astro";

const heading = "Find me online!"
---

<div class="w-full text-center py-12 bg-white dark:bg-slate-700 rounded-t-lg">
  <Heading heading={heading} />
  <ul
    class="flex flex-wrap items-center justify-center text-gray-900 dark:text-white"
  >
    {
      data.social.map((item) => {
        return (
          <li>
            <a
              href={item.href}
              target="_blank"
              rel="noopener noreferrer"
              class="mr-4 hover:underline md:mr-6 "
            >
              {item.title}
            </a>
          </li>
        );
      })
    }
  </ul>
</div>
