---
const heading = ["Name", "Time", "Price"];

const data = [
  {
    name: "House Painting",
    time: "2 Days",
    price: "$2999",
  },
  {
    name: "Interior Room Painting",
    time: "1 Day",
    price: "$1999",
  },
  {
    name: "Custom Work",
    time: "Call",
    price: "Call",
  },
];
---

<div class="relative overflow-x-auto mb-12">
  <table class="w-full text-sm text-left text-gray-700 dark:text-gray-400">
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      {
        heading.map((item) => (
          <th scope="col" class="px-6 py-3">
            {item}
          </th>
        ))
      }
    </thead>
    <tbody>
      {
        data.map((item) => (
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
              {item.name}
            </th>
            <td class="px-6 py-4">{item.time}</td>
            <td class="px-6 py-4">{item.price}</td>
          </tr>
        ))
      }
    </tbody>
  </table>
</div>
