---
import Heading from "./Heading.astro";

const heading = "What I've been up to";
const dates = ["June 2017", "November 2017", "April 2020"];
const info = [
  "Web Development and Design Assistant (Anaren Inc.)",
  "Frontend Web Developer (Atmosphere IoT Corp.)",
  "Freelance Web Developer (Shadow Stack LLC)",
];
const details = [
  "I assisted in relaunching the corporate website for the space and defense engineering company. This includes landing pages promoting business markets. The site features pages on business values and career development. The corporate site hosts 700+ products that incorporate documentation, attributes, and more for each product in a data table.",
  "Built and maintained a completely custom software documentation site with Jekyll. Built and maintained a completely custom company website with Wordpress. Built front-end widgets for our IoT software platform with Handlebars and custom css. Maintained social media presence. Marketing tasks using Zoho Campaigns. Custom email templates sent with Zoho and Sendgrid. Project and getting started videos using Adobe Premiere. Analytic and metric tracking using: Klipfolio, Google Analytics, Google Tag Manager, Android Play console, Apple App Store Connect, and a custom Node app to provide usage metrics from our software. Participated in sprint reviews and planning with both Jira and Asana. ",
  "Freelance Web Developer for static and WordPress sites, web applications with React, sales oriented tasks, consulting on the latest and best tools in the industry, and much more.",
];
---

<Heading heading={heading} />
<div class="mb-12 px-8">
  <ol class="relative border-l border-gray-200 dark:border-gray-700">
    {
      dates.map((date) => {
        return (
          <li class="mb-10 ml-4">
            <div class="absolute w-3 h-3 bg-primary rounded-full mt-1.5 -left-1.5 border border-white " />
            <time class="mb-1 text-sm font-normal leading-none text-primary dark:text-white">
              {date}
            </time>
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
              {info[dates.indexOf(date)]}
            </h3>
            <p class="mb-4 text-base font-normal text-gray-700 dark:text-gray-400">
              {details[dates.indexOf(date)]}
            </p>
          </li>
        );
      })
    }
  </ol>
</div>
