---
import Heading from "./Heading.astro";

const heading = "Hey, I'm a heading!"
const dates = ["August 2017", "November 2017", "March 2020", "2021"];
const info = [
  "Application UI code in Tailwind CSS",
  "Marketing UI design in Figma",
  "E-Commerce UI code in Tailwind CSS",
  "Some Other Headline"
];
const details = [
  "Get access to over 20+ pages including a dashboard layout, charts, kanban board, calendar, and pre-order E-commerce & Marketing pages.",
  "All of the pages and components are first designed in Figma and we keep a parity between the two versions even as we update the project.",
  "Get started with dozens of web components and interactive elements built on top of Tailwind CSS.",
  "Some more text"
];
---
<Heading heading={heading} />
<ol class="relative border-l border-gray-200 dark:border-gray-700">
  {
    dates.map((date) => {
      return (
        <li class="mb-10 ml-4">
          <div class="absolute w-3 h-3 bg-primary rounded-full mt-1.5 -left-1.5 border border-white " />
          <time class="mb-1 text-sm font-normal leading-none text-primary ">
            {date}
          </time>
          <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
            {info[dates.indexOf(date)]}
          </h3>
          <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
            {details[dates.indexOf(date)]}
          </p>
        </li>
      );
    })
  }
</ol>
