---
import Layout from "../../layouts/Layout.astro";

import HeaderSmall from "../../components/HeaderSmall.astro";

import Table from "../../components/Table.astro";
const title = "Project 4";
const subtitle = "Project 4 info";
---

<Layout title="Project 4">
  <div>
    <HeaderSmall title={title} subtitle={subtitle} />
  </div>
  <main>
    <div class="mb-12">
      <Table />
    </div>
  </main>
</Layout>

<style></style>
