---
import Layout from "../../layouts/Layout.astro";

import HeaderSmall from "../../components/HeaderSmall.astro";
const title = "Anaren.com";
const subtitle = "Drupal website overhaul";
import ZenPoster from "../../components/ZenPoster.astro";
---

<Layout title="Project 1">
  <div id="poster-background" class="">
    <ZenPoster />
  </div>
  <div class="poster-foreground">
    <h1>Title here</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
      molestias vitae maiores illo vel a aliquid tenetur architecto? Officia
      ipsam voluptates debitis quam, facere ad neque deleniti similique
      aspernatur repellat!
    </p>
  </div>
  <a href="/">Home</a>

  <main>
    <div class="mb-12"></div>
  </main>
</Layout>

<style>
</style>

