---
interface Props {
  title: string;
}

const { title } = Astro.props;
import { ViewTransitions } from "astro:transitions";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";

import data from "../data/site.json";
---

<!doctype html>
<html lang="en">
  <head>
    <ViewTransitions />
    <meta charset="UTF-8" />
    <meta name="description" content={data.siteDescription} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="bg-stone-100 dark:bg-slate-800 min-h-screen ">
      <Nav />
      <div class="container">
        <slot />
        <Footer />
      </div>
    </div>
    <style>
      .container {
        max-width: 1280px;
        margin: 0 auto;
        padding: 1rem;
      }
      .section {
        padding: 60px 0;
      }
      #footer {
        position: fixed;
      }

      @media (max-width: 767px) {
        main {
          min-height: calc(100vh - 69px);
        }
        footer > ul > li {
          display: none;
        }
        footer {
          position: relative;
        }
      }
    </style>
  </body>
</html>