---
interface Props {
  title: string;
}

const { title } = Astro.props;
import { ViewTransitions } from "astro:transitions";
import Nav from "../components/CustomNav.astro";
import Footer from "../components/Footer.astro";


import data from "../data/site.json";
---

<!doctype html>
<html
  lang="en"

  class="dark bg-slate-800 min-h-screen"
>
  <head>
    <ViewTransitions fallback="swap" />
    <meta charset="UTF-8" />
    <meta name="description" content={data.siteDescription} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <style is:global>
      #poster-background {
        background-color: #000;
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;
      
      }
      .poster-foreground {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 2rem;
      }
      @keyframes example {
        from {
          opacity: 1;
        }
        to {
          opacity: 0.2;
        }
      }
      html{
        margin-top:0;
      }
    </style>
  </head>
  <body class="dark">
    <div class="bg-stone-100 dark:bg-slate-800 min-h-screen">
      <Nav />
      <div class="">
        <slot />
        <div class="container">
          <Footer />
        </div>
      </div>
    </div>
    <style is:global>
      .container {
        max-width: 1024px;
        margin: 0 auto;
        padding: 1rem;
      }
      .section {
        padding: 60px 0;
      }
      #footer {
        position: fixed;
      }

      @media (max-width: 767px) {
        main {
          min-height: calc(100vh - 69px);
        }
        footer > ul > li {
          display: none;
        }
        footer {
          position: relative;
        }
      }
    </style>
  </body>
</html>